*{margin: 0; padding: 0; outline: none;}
body{background-color: #ccccff;}
.floatleft{float: left;}
.floatright{float: right;}
.full_width{width: 100%; height: auto; margin: 0;}
.container{width: 960px; margin: 0 auto; display: block;}
.menu{background-color: #808080; display: block; min-height: 66px; width: 100%; position: fixed; z-index: 2;}
.menu ul{list-style-type: none; font-family: arial;}
.menu ul li{float: left;}
.menu ul li a{text-decoration: none; display: block; padding: 15px; padding-left: 20px;}
.menu ul li a:hover{background-color: #a6a6a6;}
.s{float: left; margin-left: 140px; margin-right: 0;}
.se{float: right; margin-left: 0;}
.se ul{list-style-type: none; top: 0;}
#search{height: 42px; width: 200px; border-radius: 5px 0 0 5px; background-color: #bcc9e6; border: 2px solid #ffff; border-right: none; text-indent: 20px; margin-top: 10px; float: left; margin-left: 238px;}
.logo{border-radius: 0 5px 5px 0; height: 46px; border: 2px solid #ffff; border-left: none; cursor: pointer; margin-top: 10px; width: 40px; float: left; margin-right: 5px;}
.logo:hover{background-color: #a6a6a6;}
.logoo{height: 66px; border: none; cursor: pointer; margin-top: 0; width: 60px; float: left; margin-right: 5px; background-color: #6699ff; margin-right: 0;}
.logoo:hover{background-color: #9999ff;}

/*Form*/
.wrap{top: 66px;width: 100%; height: 100%;  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/denmark.jpg); position: absolute; background-position: center; background-size: cover; z-index: 1;}
.contain{width: 380px; height: 480px; position: relative; margin: 7% auto; background-color: #fff; padding: 5px; overflow: hidden;}
.butn{width: 220px; margin: 35px auto; position: relative; box-shadow: 0 0 20px 9px #ff61241f; border-radius: 30px;}
.toggle-btn{padding: 10px 30px; background: transparent; cursor: pointer; border: 0; position: relative;}
#btn{top: 0; left: 0; position: absolute; height: 100%; width: 110px; border-radius: 50px; transiton: 0.5s; background: linear-gradient(to right,#ff105f,#ffad06);}
.input_grup{top: 180px; width: 280px; position: absolute; transiton: 0.5;}
.input_fld{width: 100%;padding: 10px 0; margin: 5px 0; border-right: 0; border-left: 0; border-top: 0; border-bottom: 1px solid #999; background: transparent;}
.sub_bttn{width: 100%; padding: 10px 30px; cursor: pointer;margin: auto; background: linear-gradient(to right,#ff105f,#ffad06); border: 0; border-radius: 30px;}
#reg{left: 50px;}
#log{left: 450px;}

/*footer*/
.foot{background-color: #595959; position: absolute; top: 695px; width: 100%; min-height: 30px; color: #fff; text-align: center;}
.foot p{margin-top: 5px;}